body{
    margin: 0;
}

#head{
    background-color: brown;
    color: white;
    min-height: 50vh;
    font-size: 30px;
    padding: 30px;
}

#main img{

    height:200px ;
    width: 200px;
    object-fit: cover;

}

#overview{

    margin-top: -150px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    min-height: 200px;
    width: 100vw;
    background-color: white;




}